@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Contact Application. Please navigate to Home Button to see list of contacts</p>
</div>
